php_flag display_startup_errors on
php_flag display_errors on
php_flag html_errors on
php_flag log_errors on
RewriteEngine on
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1
<IfModule mod_mime.c>
AddType image/jpeg .jpg .jpeg .jpe
AddType image/gif .gif
AddType image/png .png
AddType application/pdf .pdf
AddType video/mp4 .mp4 .m4v
</IfModule>
<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType image/jpg "access 1 hour"
ExpiresByType image/jpeg "access 1 hour"
ExpiresByType image/gif "access 1 hour"
ExpiresByType image/png "access 1 hour"
ExpiresByType application/pdf "access 1 hour"
ExpiresByType video/mp4 "access 1 hour"
ExpiresDefault "access 1 month"
</IfModule>